@import "tailwindcss";

.jubair p{
    color: orange;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


.manrope-font {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
  }
  p {
    color: gray;
  }
  .freshly h4 ,h1{
    font-weight:  bold;
  }